<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add New Chat</title>
</head>
<body>
    <form action="/chat" method="POST">
        <input type="text" name="from" id="" placeholder="SENDER"> <br><br>
        <textarea name="msg" id="">Enter your message here</textarea> <br><br>
        <input type="text" name="to" id="" placeholder="RECIVER"> <br><br>
        <button>submit</button>
    </form>
</body>
</html>